/* .main-column {
  background-color: rgb(202, 163, 238);
} */

:root {
  --card-height: 700px;
}

html, #root {
  background-color: #0D1B2A;
}

.filter-column {
  background-color: #1B263B;
  color: white;
  margin-top: 15px;
  position: sticky;
}

.sub-filters {
  background-color: #1B263B;
  max-height: 700px;
  overflow-y: auto;
}

.main-column {
  background-color: #0D1B2A;
  color: white;
}

.main-column-card-post {
  background-color: #1B263B;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
}

.card-img-div-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-div {
  max-height: 600px;
  display: inline-block;
  overflow: hidden;
}
.card-img {
  display: block;
  max-height: inherit;
  max-width: inherit;
}

.nsfw-media {
  filter: blur(40px);
}

.main-column-card-comment {
  background-color: #1B263B;
  padding: 10px 10px 10px 10px;

}